*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.web-app{
    height: 100vh;
    width: 100%;
    position: relative;
}

.grid-buttons{
    position: absolute;
    right: 20px;
    top: 0;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    z-index: 1;
}

.grid-buttons span:first-child, .grid-buttons span:last-child{
    background-color: rgba(121, 121, 121, 0.5);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    vertical-align: middle;
    gap: 5px;
}

.zoom-main svg,
.grid-buttons svg{
    fill: white;
}


.zoom-webcam{
    border: 1px solid red;
    --gap: 5px;
    --columns: 7;
    flex-basis: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
    display: flex;
    position: relative;
}

.zoom-webcam img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.zoom-webcam span{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(121, 121, 121, 0.3);
    padding: 5px;
    text-transform: capitalize;
}

.zoom-main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 10px;
    padding-inline: 5vw;
    padding-top: 7vh;
    background-color: #000000;
    overflow-y: scroll;
    height: 90vh;
    padding-bottom: 10vh;
}


.action-bar{
    height: 10vh;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.l-side{
    display: flex;
    align-items: center;
    gap: 10px; 
}

.l-side svg{
    fill: white;
}

div.l-side > span{
    font-size: 15px;
}

.action-bar-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.action-bar-button svg{
    font-size: 30px;
}

.action-bar span{
    font-size: 15px;
}

.center{
    display: flex;
    align-items: center;
    gap: 10px; 
}

.action-bar-button svg{
    fill: white;
}

.action-bar-button.green > svg{
    fill: green;
}

.white span svg{
    fill: white;
}

.center span,
.l-side span,
.grid-buttons span{
    text-transform: capitalize;
}